{% extends "base.html.twig" %}

{% block body %}
<main class="justify-self-stretch flex-1">
	<h2 class="font-grands text-3xl text-center my-2 pt-10">Connexion</h2>

	{% if error %}
        <div class="text-center w-full py-2 font-grands font-base text-accents1">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

	<section class="pt-10">
		<div class="font-body mx-auto w-[80%] md:w-[60%] bg-zoning rounded-lg shadow dark:bg-gray-800">

			<form class="flex flex-col flex-wrap justify-around text-texte" action="{{ path('login') }}" method="POST">
				<div class="mx-auto p-2 w-[60%]">
					<label class="text-center" for="email">Votre e-mail</label>
					<input class="block bg-fond w-full" type="email" placeholder="jo.jo@morioh.io" name="_username" id="email" autocomplete="email" value="{{ last_username }}" required/>
				</div>
				<div class="mx-auto p-2 w-[60%]">
					<label class="text-center" for="password">Votre mot de passe</label>
					<input class="block bg-fond w-full" type="password" placeholder="********" name="_password" id="password" autocomplete="current-password" required/>
				</div>
					<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
					<input type="hidden" name="_target_path" value="/">
				<button class="w-[60%] mx-auto my-3 py-2 px-4 bg-accents1-light text-fond transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg" type="submit">Se connecter</button>
			</form>

			{% for message in app.flashes('notice') %}
        <div class="flash-notice font-grands font-base text-accents1 text-center">
          {{ message }}
        </div>
      {% endfor %}
		</div>
	</section>
</main>
{% endblock %}